APP_NAME=Rozhanitsy
APP_ENV=production
# Generate with: echo "base64:$(openssl rand -base64 32)" or leave empty to generate automatically on first run
APP_KEY=
APP_DEBUG=false
APP_URL=https://rozhanitsy.example.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=warning

APP_PORT=3000

ROZHANITSY_TAG=latest

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=rozhanitsy
DB_USERNAME=rozhanitsy
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

QUEUE_CONNECTION=database
CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=valkey
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# https://nvd.nist.gov/developers/request-an-api-key
NVD_API_KEY=
